.button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 70%;
    align-items: center;
    justify-items: center;
    position: relative;
}

.digit {
    background-color: var(--dark);
    color: var(--text);
}

.clear {
    background-color: var(--red);
    color: var(--text);
}

.operator {
    background: var(--gradient-dark);
    color: var(--text);
}

.plus {
    grid-column: 4;
    grid-row: 4/6 ;
    height: 140px ;
    border-radius: 35px ;
    align-self: self-end;
    margin-bottom: 18px;
    margin-top: -38px;
    background: var(--gradient-light);
}

.equal {
    background: var(--gradient-light);
}

.history-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -8%;
    left: 47%;
    background-color: transparent;
    transition: transform 0.2s ;
}

.history-button:hover {
    transform: rotate(90deg);
    transform-origin: center;
}

.history-button:active {
    opacity: 0.8;
}

.history {
    width: 30px;
}

@media screen and (max-height: 700px) {
    .plus {
        height: 120px;
    }
}