@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --primary: #1B262C;
  --secondary: #0F4C75;
  --light: #BBE1FA;
  --dark: #3282B8;
  --gradient-light: linear-gradient(to left, white , rgb(168, 165, 144) );
  --gradient-dark: linear-gradient(to left, var(--secondary), var(--primary));
  --red: rgb(192, 20, 54);
  --text: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

